# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text diff=python
*.pyw text diff=python

# Configs and data
*.toml text
*.yaml text
*.yml text
*.json text
*.lock text
.env.example text
.python-version text
requirements.txt text

# Documentation
*.md text diff=markdown
LICENSE text

# Windows scripts
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# Unix scripts
*.sh text eol=lf